---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->

    <h1 class="betting">Predicting NBA Games</h1>
    <ul class="betting-list" style="list-style: none;">
      {%- for post in site.posts reversed -%}
        {%- if post.sub == "betting" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <p>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </p>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <h1 class="draft">NBA Draft History</h1>
    <ul class="draft-list" style="list-style: none;">
      {%- for post in site.posts reversed -%}
        {%- if post.sub == "draft" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <p>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </p>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <h1 class="coding">Coding Theory</h1>
    <ul class="coding-list" style="list-style: none;">
      {%- for post in site.posts reversed -%}
        {%- if post.sub == "coding" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <p>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </p>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <h1 class="lfunctions">Introduction to L-Functions</h1>
    <ul class="lfunctions-list"  style="list-style: none;">
      {%- for post in site.posts reversed -%}
        {%- if post.sub == "lfunctions" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <p>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </p>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <h1 class="miscellaneous">Miscellaneous</h1>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.sub == "none" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
